{% extends 'base.html' %}

{% block title %}
Nova Conta
{% endblock title %}
{% block content %}
<center>
    <center style="text-align: center;border-style: solid;border-width: 8px;border-color: #002292; width:65%;">
        <p>
            <center>
                <form method="POST" accept-charset="utf-8">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="Submit" name="submit" value="Signup" style="background-color:#118bee; color:white;font-weight: bold;">
                </form>
            </center>
        </p>
    </center>
</center>
{% endblock content %}
