{% extends "base.html" %}

{% block content %}

{% if curriculo_list %}

<p>Muitos resultados? <a href="{% url 'curriculo:search' %}">Buscar Curriculo</a></p>

{% if request.user.is_estudante == True %} 
<a href="{% url 'curriculo:user_profile' user.username %}">Meu Curriculo</a>
{% endif %}

<section class="lista-de-cards">

    {% for curriculo in curriculo_list %}

    <article class="curriculo-card">
        <img class= 'retrato' src="{{ curriculo.foto }}" alt="Nome de Estudante {{ curriculo.estudante}}" width="180" height="180">
        <div class="curriculo-text"> 
            <a class = 'curriculo-name' href="{% url 'curriculo:profile' curriculo.id %}">{{ curriculo.estudante.name }}</a>
            <p class = 'curriculo-bio'>{{ curriculo.bio }}</p>
        </div>
    </article>

    {% endfor %}
</section>

{% else %}
<p>Não foi encontrado nenhum currículo.</p>

{% endif %}

{% endblock content %}