{% extends "base.html" %}

{% block content %}

{% if curriculo_list %}
<div class="curriculo-list-top">
    <a class= 'button' href="{% url 'curriculo:search' %}">Buscar Currículo</a>
    {% if request.user.is_estudante == True %} 
    <a class= 'button' href="{% url 'curriculo:user_profile' user.username %}">Meu Curriculo</a>
    {% endif %}
</div>

<section class="lista-de-cards">

    {% for curriculo in curriculo_list %}

    <article class="curriculo-card">
        {% if curriculo.foto %}
        <img class= 'retrato' src="{{ curriculo.foto }}" alt="Nome de Estudante {{ curriculo.estudante}}" width="180" height="180">
        {% endif %}
        <div class="curriculo-text"> 
            <a class = 'curriculo-name' href="{% url 'curriculo:profile' curriculo.id %}">{{ curriculo.estudante.name }}</a>
            {% if curriculo.bio %}
            <p class = 'curriculo-bio'>{{ curriculo.bio }}</p>
            {% endif %}
        </div>
    </article>

    {% endfor %}
</section>

{% else %}
<p>Não foi encontrado nenhum currículo.</p>

{% endif %}

{% endblock content %}