{% extends 'base.html' %}


{% block content %}
<div class="pesquisa-curriculo">
    <h2>Pesquisa de Currículo por Nome</h2>

<form action="{% url 'curriculo:search' %}">

    <p>

        <label for="id_query">Título:</label>

        <input type="text" name="query" id="id_query" />

    </p>

    <button type="submit">Buscar</button>

</form>





{% if curriculo_list %}
<h2>Resultado da Busca</h2>
<section class="lista-de-cards">

    {% for curriculo in curriculo_list %}

    <article class="curriculo-card">
        <img class= 'retrato' src="{{ curriculo.foto }}" alt="Nome de Estudante {{ curriculo.estudante}}" width="180" height="180">
        <div class="curriculo-text"> 
            <a class = 'curriculo-name' href="{% url 'curriculo:profile' curriculo.id %}">{{ curriculo.estudante.name }}</a>
            <p class = 'curriculo-bio'>{{ curriculo.bio }}</p>
        </div>
    </article>

    {% endfor %}

</section>

{% else %}
<p>Não foi encontrado nenhum currículo para a busca.</p>

{% endif %}

</div>
{% endblock content %}
