{% extends 'base.html' %}

{% block title %}
{{ noticia.name }} ({{ noticia.release_date | date}}
{% endblock title %}

{% block content %}
<h2>Detalhes da Notícia {{ noticia.name }} ({{ noticia.release_date | date }})</h2>

<section class="dados-de-filme">
    <img src="{{ noticia.poster_url }}" alt="Poster da notícia {{ noticia.name}}">
    <ul>
        <li>Nome: {{ noticia.name }}</li>
        <li>Data de publicação: {{ noticia.release_date | date }} </li>
        {% if not request.user.is_estudante %}
        {% if not request.user.is_empresa %}
            <li><a href="{% url 'noticias:update' noticia.id %}">Editar</a></li>
            <li><a href="{% url 'noticias:delete' noticia.id %}">Apagar</a></li>
        {% endif %}
        {% endif %}
    </ul>
    <p> {{ noticia.descricao }}</p>
</section>

<hr>

<section>
    <header>
        <h3>Comentários</h3>
    </header>
    <ul>
        {% if noticia.comment_set.all %}
            {% for comment in noticia.comment_set.all %}
                <figure>
                    <blockquote>
                        "{{ comment.text }}"
                    </blockquote>
                    <figcaption>—{{ comment.author }}
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum comentário para esta notícia.</p>
        {% endif %}
    </ul>

    <hr>

    <a href="{% url 'noticias:comment' noticia.pk %}"><button>Faça seu comentário</button></a>
</section>

{% endblock content %}