{% extends 'base.html' %}

{% block title %}
Notícias
{% endblock title %}

{% block content %}
<section class="curriculo-list-top">
    <a class = 'button' href="{% url 'noticias:search' %}">Buscar Notícias</a>

    {% if not request.user.is_estudante %}
    {% if not request.user.is_empresa %}
        <a class = 'button' href="{% url 'noticias:create' %}">Adicionar Nova Notícia</a>
    {% endif %}
    {% endif %}
</section>

{% if noticia_list %}

<section class="lista-de-cards">
    {% for noticia in noticia_list %}
    <br>
        <article class="curriculo-card">
            <div class="retrato">
                <a href="{% url 'noticias:detail' noticia.id %}"><img src="{{ noticia.poster_url }}" alt="Poster da noticia {{ noticia.name}}" height="150px" width="150px"></a>
            </div>
            <div class="curriculo-text"> 
                <h3 class = 'noticia-name'>{{ noticia.name }} ({{ noticia.release_date | date}})</h3>
                <p class = 'noticia-bio'>{{ noticia.descricao }}</p>
            </div>
        </article>
    <br>

    {% endfor %}
</section>

{% else %}
<p>Não foi encontrada nenhuma notícia.</p>
{% endif %}

{% endblock content %}