{% extends 'base.html' %}

{% block title %}
Notícias
{% endblock title %}

{% block content %}
<h2>Todas as Notícias</h2>

<section>
    <p>Muitos resultados? <a href="{% url 'noticias:search' %}">Buscar Notícias</a></p>

    {% if not request.user.is_estudante %}
    {% if not request.user.is_empresa %}
        <p>Não encontrou a notícia? <a href="{% url 'noticias:create' %}">Adicionar Nova Notícia</a></p>
    {% endif %}
    {% endif %}
</section>

{% if noticia_list %}

<section class="lista-de-cards-noticias">
    {% for noticia in noticia_list %}
    <br>
    <center>
        <article class="card-noticias">
            <div align="left">
                <a href="{% url 'noticias:detail' noticia.id %}"><img src="{{ noticia.poster_url }}" alt="Poster da noticia {{ noticia.name}}" style="max-width: 100px;
                    max-width: 100px; max-height: 100px;"></a>
            </div>
            <div>
                <b>{{ noticia.name }} ({{ noticia.release_date | date}})</b>
                <p>{{ noticia.descricao }}</p>
            </div>
        </article>
    </center>
    <br>

    {% endfor %}
</section>

{% else %}
<p>Não foi encontrada nenhuma notícia.</p>
{% endif %}

{% endblock content %}