:root {
--primary-color: #000000;
--secondary-color: #002292;
--tertiary-color: #f44d27;
--secondary-color-light: #30b2ff;
--tertiary-color-light: #ff6d28;
--bg-color: #fff;
--secondary-bg-color: #0119a3;
--color-shadow: #f4f4f4;
font-family: Inter, sans-serif;
font-size: 16px;
line-height: 1.5em;
}

* {
box-sizing: border-box;
}

html,
body {
height: 100%;
}

header#cabecalho-principal {
margin: 0 auto;
width: 100%;
max-width: 1080px;
padding: 3rem 1rem;

display: flex;
justify-content: space-between;
align-items:center;
}

li a {
color: var(--secondary-color);
font-weight: bold;
text-decoration: none;
}

li a:hover {
color: var(--secondary-color-light);
text-decoration: underline;
}

body {
display: flex;
flex-direction: column;
}

nav#navegacao-principal li {
display: inline-block;
padding: 10px;
max-width:100%;
}

main#conteiner-principal {
margin: 0 auto;
width: 100%;
max-width: 1080px;
padding: 1rem 1rem;
flex-grow: 1;

/* text-align: center;
border-style: solid;
border-width: 8px;
border-color: #002292; */
}

.flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: auto;
    justify-content: space-around;
    align-items:baseline;
    align-self: auto;
    width: 100%;
}

footer#rodape-principal {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1rem 1rem;

color:white;
background-color: #000120;
}

.lista-de-cards {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.lista-de-cards-noticias {
display: flex;
flex-wrap: wrap;
}

.card-noticias{
font-weight: bold;
color: #002292;
border: 5px solid var(--secondary-bg-color);
border-radius: 5px;
box-shadow: 2px 2px 10px var(--color-shadow);
margin: 1rem;
padding: 1.25rem;

display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
}

.card {
font-weight: bold;
text-align: center;
color: #002292;
border: 5px solid var(--secondary-bg-color);
border-radius: 5px;
box-shadow: 2px 2px 10px var(--color-shadow);
margin: 1rem;
padding: 1.25rem;
width: 285px;
}

.curriculo-card {
display: flex;
flex-wrap: wrap;
border: 1px solid var(--secondary-bg-color);
border-radius: 5px;
box-shadow: 2px 2px 10px var(--color-shadow);
margin: 1rem;
padding: 1.25rem;
width: 100%;
align-items: center;
justify-content: left;
}

.retrato{
display: flex;
align-items: center;
border: 15px solid white;
padding: 1px;
}
.curriculo-text{
display:flex;
flex-wrap: wrap;
padding: 5px 15px 5px 15px;
width:80%;
flex-direction: column;
}
.curriculo-name {
display: flex;
font-size: 25px;
width: 100%;
background-color:#c0ddf5;
height: 30px;
align-items: center;
padding: 10px;

}

.curriculo-bio {
display: flex;
border: 1px solid var(--secondary-bg-color);
border-radius: 5px;
width:100%;
padding: 5px;
align-items: center;
justify-content: center;
}
.small-card {
border: 1px solid var(--secondary-bg-color);
border-radius: 5px;
box-shadow: 2px 2px 10px var(--color-shadow);
margin: 1rem;
padding: 1.25rem;
width: 160px;
}

.card img {
width: 100%;
}

.small-card img {
width: 100%;
}

a {
color: var(--secondary-color);
text-decoration: none;
}

a:hover {
color: var(--secondary-color-light);
text-decoration: underline;
}

.dados-de-proposta {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: justify;
padding: 1rem 0;
}

.dados-de-proposta img {
width: 285px;
justify-content: center;
box-shadow: 2px 2px 10px var(--color-shadow);
}

.dados-de-proposta ul {
list-style-type: none;
}

input {
display: block;
width: 100%;
max-width: 560px;
border: 1px solid var(--secondary-bg-color);
border-radius: 5px;
margin-bottom: 1rem;
padding: 0.4rem 0.8rem;
}

button {
background-color: var(--secondary-color);
border: 2px solid var(--secondary-color);
color: var(--bg-color);
border-radius: 5px;
display: inline-block;
font-size: medium;
font-weight: bold;
margin: 0.5rem 0;
padding: 1rem 2rem;
}

button:hover {
background-color: var(--secondary-color-light);
border: 2px solid var(--secondary-color-light);
}

.profile-top{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid var(--secondary-bg-color);
}

.profile{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-bg-color);
    padding: 10px;
    font-size: 16px;

}

.profile-bio {
    display: flex;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    max-width:100%;
    padding: 5px;
    justify-content: center;
    }

.button {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--bg-color);
    border-radius: 5px;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    }

.edit-profile{
    display: flex;
    justify-content: space-between;
}

.contato{
    display: flex;
    justify-content: center;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
}

.curriculo-list-top{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--secondary-color);
    padding: 10px;
}

.formulario{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.formulario-top{
    display: flex;
    border-top: 1px solid var(--secondary-color);
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pesquisa-curriculo{
    display: flex;
    border-top: 1px solid var(--secondary-color);
    width: 100%;
    flex-direction: column;
    padding: 10px;
}

.sem-foto{
    display: flex;
    width: 350px;
    justify-content: center;
    border: 15px solid white;
    padding: 1px;
}

.profile-topright{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.proposta-list-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.proposta-edit{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}