{% extends 'base.html' %}

{% block title %}
{{ propostas.name }}
{% endblock title %}

{% block content %}
<hr>
<h2 align="center">{{ propostas.name }}</h2>
<br>
<section class="dados-de-filme">
    <p align="center">
        <center>
            <img align="center" src="{{ propostas.logo_proposta }}" alt="Poster da proposta {{ propostas.name}}" height="400px" width="400px">
        </center>
    </p>
    <br>
    <p>
        <ul style="list-style-type: none">
            <div class="proposta-edit">
                {% if propostas.empresa == request.user.empresa %}
                <a class='button' href="{% url 'propostas:update' propostas.id %}">Editar</a>
                {% endif %}
                <li align="right"><i>Data: {{ propostas.data_pub }}</i></li>
            </div>
            <hr>
            <br>
            <li align="justify"><b>Descrição:</b> {{ propostas.descricao }} </li>
            <br>
            <li><b align="center">Número de vagas:</b> {{ propostas.n_vagas }} </li>
            <br>
            
            <div class="proposta-list-top">
                {% if propostas.empresa == request.user.empresa %}
                <a class='button' href="{% url 'propostas:inscrito_list' propostas.id %}">Inscritos</a>
                <a class='button' href="{% url 'propostas:delete' propostas.id %}">Apagar</a>
                
            {% endif %} 
            </div>
        </ul>
    </p>

</section>
{% if request.user.is_estudante %}
    {% if ins %}
        <center>
            <button>
                <a href="{% url 'propostas:inscrito_add' propostas.id %}" style="color:white">Desinscrever-se</a>
            </button> 
        </center>
       
    {% else %}
    <center>
        <button>
            <a href="{% url 'propostas:inscrito_add' propostas.id %}" style="color:white">Inscrever-se</a> 
        </button> 
    </center>
    {% endif %}
{% endif %}
<hr>
<h2>Outras Propostas da Empresa</h2>
{% if propostas_list %}
<section class="lista-de-cards">
    {% for propostas in propostas_list %}
    <article class="small-card">
        <img src="{{ propostas.logo_proposta }}"alt="Poster da Proposta {{ propostas.name}}">
        <a href="{% url 'propostas:detail' propostas.id %}">{{ propostas.name }}</a>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrada nenhuma proposta da empresa.</p>
{% endif %}

{% endblock content %}