{% extends 'base.html' %}

{% block title %}
{{ propostas.name }}
{% endblock title %}

{% block content %}
<h2 align="center">{{ propostas.name }}</h2>
<br>
<section class="dados-de-filme">
    <p align="center">
        <center>
            <img align="center" src="{{ propostas.logo_proposta }}" alt="Poster da proposta {{ propostas.name}}" height="200px" width="500px">
        </center>
    </p>
    <br>
    <p>
        <ul style="list-style-type: none">
            <li align="justify">Descrição da Proposta: {{ propostas.descricao }} </li>
            <li><b align="center">Número de vagas:</b> {{ propostas.n_vagas }} </li>
            <li align="right"><i>Data: {{ propostas.data_pub }}</i></li>
            {% if propostas.empresa == request.user.empresa %}
                <li><a href="{% url 'propostas:update' propostas.id %}">Editar</a></li>
                <li><a href="{% url 'propostas:delete' propostas.id %}">Apagar</a></li>
                <li><a href="{% url 'propostas:inscrito_list' propostas.id %}">Inscritos</a></li>
            {% endif %} 
        </ul>
    </p>

</section>
{% if request.user.is_estudante %}
    {% if ins %}
        <center>
            <button>
                <a href="{% url 'propostas:inscrito_add' propostas.id %}" style="color:white">Desinscrever-se</a>
            </button> 
        </center>
       
    {% else %}
    <center>
        <button>
            <a href="{% url 'propostas:inscrito_add' propostas.id %}" style="color:white">Inscrever-se</a> 
        </button> 
    </center>
    {% endif %}
{% endif %}
<hr>
<h2>Outras Propostas</h2>
{% if propostas_list %}
<section class="lista-de-cards">
    {% for propostas in propostas_list %}
    <article class="small-card">
        <img src="{{ propostas.logo_proposta }}"alt="Poster da Proposta {{ propostas.name}}">
        <a href="{% url 'propostas:detail' propostas.id %}">{{ propostas.name }}</a>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrada nenhuma proposta.</p>
{% endif %}

{% endblock content %}