{% extends 'base.html' %}

{% block content %}
<p>Gostaria de criar uma nova proposta? <a href="{% url 'propostas:create' %}">Adicionar Nova Proposta</a></p>
{% if propostas_list %}
<section class="lista-de-cards">
    {% for propostas in propostas_list %}
    <article class="card">
        <a href="{% url 'propostas:detail' forloop.counter %}"><img src="{{ propostas.logo_proposta }}"
            alt="Poster da Proposta {{ propostas.name}}"></a>
        <p>{{ propostas.name }}</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrada nenhuma proposta.</p>
{% endif %}

{% endblock content %}