{% extends 'base.html' %}

{% block content %}
<hr>
<br>
<h2>Minhas Propostas</h2>
<br>
<a class='button' href="{% url 'propostas:create' %}">Nova Proposta</a>

{% if propostas_list %}
<section class="lista-de-cards">
    {% for propostas in propostas_list %}
    <article class="card" align="center" style="border: 5px; border-style: solid ;color: #002292; border-color: #002292">
        <img src="{{ propostas.logo_proposta }}"alt="Poster da Proposta {{ propostas.name}}">
        <a href="{% url 'propostas:detail' propostas.id %}"><b>{{ propostas.name }}</b></a>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrada nenhuma proposta.</p>
{% endif %}

{% endblock content %}