{% extends 'base.html' %}
{% block title %} Propostas {% endblock %} | Poli-Empregos

{% block content %}
<br>
<section class="curriculo-list-top">
    <a class='button' href="{% url 'propostas:search' %}">Buscar Propostas</a>
    <br>
    {% if request.user.is_empresa %} 
        <a class='button' href="{% url 'propostas:empresa_profile' user.username %}">Minhas Propostas</a>
    {% endif %}
    {% if request.user.is_estudante %} 
        <a class='button' href="{% url 'propostas:inscricoes' user.username %}">Minhas Inscrições</a>
    {% endif %}
</section>
{% if propostas_list %}
<section class="lista-de-cards">
    {% for propostas in propostas_list %}
    <article class="card" style="border: 5px; border-style: solid ;color: #002292; border-color: #002292">
        <div>
            <a href="{% url 'propostas:detail' forloop.counter %}"><img src="{{ propostas.logo_proposta }}" height="150px" width="150px"
                alt="Poster da Proposta {{ propostas.name}}"></a>
        </div>
        <div>
            <p align="center"><b>{{ propostas.name }}</b></p>
        </div>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrada nenhuma proposta.</p>
{% endif %}

{% endblock content %}