{% extends 'base.html' %}
{% block title %} Inscrições {% endblock %} | Poli-Empregos
{% block content %}
<hr>
<br>
<h2> Minhas inscrições</h2>
<br>
{% if p_list %}
<section class="lista-de-cards">
    {% for propostas in p_list %}
    <article class="card">
            <img src="{{ propostas.logo_proposta }}"
            alt="Poster da Proposta {{ propostas.name}}">
        <a href="{% url 'propostas:detail' propostas.id %}">{{ propostas.name }}</a>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrada nenhuma proposta.</p>
{% endif %}

{% endblock content %}