{% extends 'base.html' %}
{% block title %} Lista de Inscritos {% endblock %} | Poli-Empregos
{% block content %}

{% if i_list %}
{% for curriculo in i_list %}
<hr>
<br>
<h2>
    Inscritos em {{propostas.name}}
</h2>
<br>
    <article class="curriculo-card">
        {% if curriculo.foto %}
        <img class= 'retrato' src="{{ curriculo.foto }}" alt="Nome de Estudante {{ curriculo.estudante}}" width="180" height="180">
        {% endif %}
        <div class="curriculo-text"> 
            <a class = 'curriculo-name' href="{% url 'curriculo:profile' curriculo.id %}">{{ curriculo.estudante.name }}</a>
            {% if curriculo.bio %}
            <p class = 'curriculo-bio'>{{ curriculo.bio }}</p>
            {% endif %}
        </div>
    </article>
{% endfor %}
{% else %}
<hr>
<br>
<h3>Ninguém incrito ainda</h3>
{% endif %}
{% endblock content %}